/** IMPORTS **/
@import '~foundation-sites/scss/foundation.scss';
@include foundation-everything;
@include foundation-flex-grid; // Remove this if you want the regular float grid
@import "./variables.scss";

/** FONTS **/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");

/** GLOABLS **/
body{
  font-family: 'Open Sans', sans-serif;
  background: #f6f6f6;
  height: 100%;
}
.no-padding{padding: 0 !important;}
